wsdl/tpfc/HotelRateDescriptionLLS2.3.0RS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:stl="http://services.sabre.com/STL/v01" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified">
	<xs:import namespace="http://services.sabre.com/STL/v01" schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd"/>
	<xs:include schemaLocation="sws_common.xsd"/>
	<xs:element name="HotelRateDescriptionRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stl:ApplicationResults"/>
				<xs:element name="RoomStay" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BasicPropertyInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Address" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AddressLine" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
													<xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Awards" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AwardProvider" minOccurs="0" maxOccurs="5" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CheckInTime" minOccurs="0" type="sws:time"/>
										<xs:element name="CheckOutTime" minOccurs="0" type="sws:time"/>
										<xs:element name="ContactNumbers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ContactNumber" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Fax" type="xs:string" use="optional"/>
															<xs:attribute name="Phone" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DirectConnect" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AdditionalData" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="CurrencyConverted" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="DC_AvailParticipant" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="DC_SellParticipant" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RequestFail" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="UnAvail" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="IndexData" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Index" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="CalculatedDistance" type="xs:string" use="optional"/>
															<xs:attribute name="CountryState" type="xs:string" use="optional"/>
															<xs:attribute name="DistanceDirection" type="xs:string" use="optional"/>
															<xs:attribute name="Latitude" type="xs:string" use="optional"/>
															<xs:attribute name="LocationCode" type="xs:string" use="optional"/>
															<xs:attribute name="Longitude" type="xs:string" use="optional"/>
															<xs:attribute name="Point" type="xs:string" use="optional"/>
															<xs:attribute name="TransportationCode" type="xs:string" use="optional"/>
															<xs:attribute name="UnitOfMeasure" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PropertyOptionInfo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ADA_Accessible" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="AdultsOnly" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="AirportShuttle" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="BeachFront" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Breakfast" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="BusinessCenter" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="BusinessReady" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="CarRentalCounter" minOccurs="0" type="xs:string"/>
													<xs:element name="Conventions" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Dataport" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Dining" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="DryClean" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="EcoCertified" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExecutiveFloors" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FamilyPlan" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FitnessCenter" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FreeLocalCalls" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FreeParking" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FreeShuttle" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FreeWifiInMeetingRooms" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FreeWifiInPublicSpaces" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FreeWifiInRooms" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FullServiceSpa" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="GameFacilities" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Golf" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="GovtSafetyFire" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="HighSpeedInternet" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="HypoallergenicRooms" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="IndoorPool" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="IndPetRestriction" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="InRoomCoffeeTea" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="InRoomMiniBar" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="InRoomRefrigerator" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="InRoomSafe" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="InteriorDoorways" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Jacuzzi" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="KidsFacilities" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="KitchenFacilities" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="MealService" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="MeetingFacilities" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="NoAdultTV" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="NonSmoking" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="OutdoorPool" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Parking" minOccurs="0" type="xs:string"/>
													<xs:element name="Pets" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Pool" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="PublicTransportationAdjacent" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Recreation" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RestrictedRoomAccess" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RoomService" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RoomService24Hours" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RoomsWithBalcony" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="SkiInOutProperty" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="SmokeFree" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="SmokingRoomsAvail" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Tennis" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="WaterPurificationSystem" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Wheelchair" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PropertyTypeInfo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AllInclusive" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Apartments" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="BedBreakfast" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Castle" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Conventions" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Economy" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedStay" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Farm" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="First" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Luxury" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Moderate" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Motel" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Resort" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Suites" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SpecialOffers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Text" minOccurs="0" maxOccurs="2" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Taxes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Text" minOccurs="0" maxOccurs="3" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="ShortText" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="VendorMessages" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AdditionalAttractions" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Attractions" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Awards" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Cancellation" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Deposit" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Description" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Dining" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Directions" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Facilities" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Guarantee" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Location" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MarketingInformation" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MiscServices" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Policies" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Recreation" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Rooms" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Safety" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Services" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Transportation" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded" >
																<xs:element name="Text" minOccurs="0" maxOccurs="1" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ChainCode" type="xs:string" use="optional"/>
									<xs:attribute name="GeoConfidenceLevel" type="xs:string" use="optional"/>
									<xs:attribute name="HotelCityCode" type="xs:string" use="optional"/>
									<xs:attribute name="HotelCode" type="xs:string" use="optional"/>
									<xs:attribute name="HotelName" type="xs:string" use="optional"/>
									<xs:attribute name="Latitude" type="xs:string" use="optional"/>
									<xs:attribute name="Longitude" type="xs:string" use="optional"/>
									<xs:attribute name="NumFloors" type="xs:string" use="optional"/>
									<xs:attribute name="RPH" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Guarantee" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DepositsAccepted" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PaymentCard" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="Code" type="xs:string" use="optional"/>
															<xs:attribute name="Type" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GuaranteesAccepted" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PaymentCard" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="Code" type="xs:string" use="optional"/>
															<xs:attribute name="Type" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LongSellTimeIdentifier" minOccurs="0" type="xs:string"/>
							<xs:element name="RoomRates" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RateList" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Rate" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="Code" type="xs:string" use="optional"/>
															<xs:attribute name="Description" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RoomRate" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AdditionalInfo" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CancelPolicy" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Text" minOccurs="0" type="xs:string"/>
																		</xs:sequence>
																		<xs:attribute name="Numeric" type="xs:string" use="optional"/>
																		<xs:attribute name="Option" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Commission" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="NonCommission" type="xs:boolean" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="DCA_Cancellation" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="DCA_Deposit" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="DCA_Guarantee" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="DCA_Other" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PaymentCard" minOccurs="0" maxOccurs="10">
																	<xs:complexType>
																		<xs:attribute name="Code" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Taxes" minOccurs="0" type="xs:string"/>
																<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="HotelRateCode" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
													<xs:element name="Rates" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Rate" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AdditionalGuestAmounts" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="AdditionalGuestAmount" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Charges" minOccurs="0">
																										<xs:complexType>
																											<xs:attribute name="AdultRollAway" type="xs:string" use="optional"/>
																											<xs:attribute name="ChildRollaway" type="xs:string" use="optional"/>
																											<xs:attribute name="Crib" type="xs:string" use="optional"/>
																											<xs:attribute name="ExtraPerson" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="MaxExtraPersonsAllowed" type="xs:string" use="optional"/>
																								<xs:attribute name="NumAdults" type="xs:string" use="optional"/>
																								<xs:attribute name="NumChildren" type="xs:string" use="optional"/>
																								<xs:attribute name="NumCribs" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="HotelTotalPricing" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Disclaimer" minOccurs="0" maxOccurs="2" type="xs:string"/>
																						<xs:element name="RateRange" minOccurs="0" maxOccurs="8">
																							<xs:complexType>
																								<xs:attribute name="Amount" type="xs:string" use="optional"/>
																								<xs:attribute name="EffectiveDate" type="sws:date" use="optional"/>
																								<xs:attribute name="ExpireDate" type="sws:date" use="optional"/>
																								<xs:attribute name="Surcharges" type="xs:string" use="optional"/>
																								<xs:attribute name="Taxes" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="TotalSurcharges" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="SurchargeFour" minOccurs="0">
																										<xs:complexType>
																											<xs:attribute name="Amount" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="SurchargeOne" minOccurs="0">
																										<xs:complexType>
																											<xs:attribute name="Amount" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="SurchargeThree" minOccurs="0">
																										<xs:complexType>
																											<xs:attribute name="Amount" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="SurchargeTwo" minOccurs="0">
																										<xs:complexType>
																											<xs:attribute name="Amount" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="Text" minOccurs="0" maxOccurs="4" type="xs:string"/>
																								</xs:sequence>
																								<xs:attribute name="Amount" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="TotalTaxes" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Tax" minOccurs="0">
																										<xs:complexType>
																											<xs:attribute name="Amount" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="TaxFieldOne" minOccurs="0" type="xs:string"/>
																									<xs:element name="TaxFieldThree" minOccurs="0" type="xs:string"/>
																									<xs:element name="TaxFieldTwo" minOccurs="0" type="xs:string"/>
																									<xs:element name="Text" minOccurs="0" maxOccurs="4" type="xs:string"/>
																								</xs:sequence>
																								<xs:attribute name="Amount" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="Amount" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="RateRange" minOccurs="0" maxOccurs="3">
																				<xs:complexType>
																					<xs:attribute name="Amount" type="xs:string" use="optional"/>
																					<xs:attribute name="EffectiveDate" type="sws:date" use="optional"/>
																					<xs:attribute name="ExpireDate" type="sws:date" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Text" minOccurs="0" type="xs:string"/>
																		</xs:sequence>
																		<xs:attribute name="Amount" type="xs:string" use="optional"/>
																		<xs:attribute name="ChangeIndicator" type="xs:boolean" use="optional"/>
																		<xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
																		<xs:attribute name="HighRate" type="xs:string" use="optional"/>
																		<xs:attribute name="HRD_RequiredForSell" type="xs:boolean" use="optional"/>
																		<xs:attribute name="PackageIndicator" type="xs:boolean" use="optional"/>
																		<xs:attribute name="RateConversionInd" type="xs:boolean" use="optional"/>
																		<xs:attribute name="ReturnOfRateInd" type="xs:boolean" use="optional"/>
																		<xs:attribute name="RoomOnRequest" type="xs:boolean" use="optional"/>
																		<xs:attribute name="RoomLocationCode" type="xs:string" use="optional"/>
																		<xs:attribute name="RoomTypeCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="AdvanceReservationPeriod" type="xs:string" use="optional"/>
												<xs:attribute name="ClientID" type="xs:string" use="optional"/>
												<xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
												<xs:attribute name="DirectConnect" type="xs:boolean" use="optional"/>
												<xs:attribute name="GuaranteedRateProgram" type="xs:boolean" use="optional"/>
												<xs:attribute name="GuaranteeSurchargeRequired" type="xs:string" use="optional"/>
												<xs:attribute name="HRD_RequiredForSell" type="xs:boolean" use="optional"/>
												<xs:attribute name="IATA_CharacteristicIdentification" type="xs:string" use="optional"/>
												<xs:attribute name="IATA_ProductIdentification" type="xs:string" use="optional"/>
												<xs:attribute name="LowInventoryThreshold" type="xs:boolean" use="optional"/>
												<xs:attribute name="RateAccessCode" type="xs:string" use="optional"/>
												<xs:attribute name="RateCategory" type="xs:string" use="optional"/>
												<xs:attribute name="RateChangeInd" type="xs:boolean" use="optional"/>
												<xs:attribute name="RateConversionInd" type="xs:boolean" use="optional"/>
												<xs:attribute name="RateLevelCode" type="xs:string" use="optional"/>
												<xs:attribute name="RoomLocationCode" type="xs:string" use="optional"/>
												<xs:attribute name="RPH" type="xs:string" use="optional"/>
												<xs:attribute name="SpecialOffer" type="xs:boolean" use="optional"/>
												<xs:attribute name="XPM_GuaranteeRequired" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TimeSpan" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="Duration" type="xs:string" use="optional"/>
									<xs:attribute name="End" type="sws:date" use="optional"/>
									<xs:attribute name="Start" type="sws:date" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>