wsdl/shopping/BargainFinderMax_CommonTypes_v1-9-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 (http://www.altova.com) by Grzegorz Maslyk (SABRE GLBL INC) -->
<!-- ==================================================================
//
//  Copyright Sabre 2004
//
//          The copyright to the computer program(s) herein
//          is the property of Sabre.
//          The program(s) may be used and/or copied only with
//          the written permission of Sabre or in accordance
//          with the terms and conditions stipulated in the
//          agreement/contract under which the program(s)
//          have been supplied.
//
//================================================================= -->
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.000" id="OTA2003B">
	<xs:complexType name="AdvResTicketingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container used to hold information regarding advance reservation and/or advance ticketing.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="AdvReservation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies constraints on date of advance reservations.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="LatestTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The time of day by which reservations must be made on the last day that advance reservations can be made.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="LatestPeriod" type="NumericStringLength1to3" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The amount of elapsed time or number of occurrences of a day of the week before departure needed to satisfy an advance reservation requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="LatestUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week to be applied to the LatestPeriod value.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdvTicketing" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies advance ticketing restrictions.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="FromResTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The time of day after reservations are made by which a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromResPeriod" type="NumericStringLength1to3" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A length of time expressed as either an amount of time or the number of occurrences of a day of the week after reservations are made that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromResUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week to be applied to the period after reservation are made that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromDepartTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The time of day prior to departure when the ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromDepartPeriod" type="NumericStringLength1to3" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A length of time expressed as either an amount of time or the number of occurrences of a day of the week before departure that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromDepartUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week to be applied to the the period before departure that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AdvResInd" type="xs:boolean">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicator for identifying whether or not advance reservation restrictions are involved in the request or response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AdvTicketingInd" type="xs:boolean">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicator for identifying whether or not advance ticketing restrictions are involved in the request or response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="CompanyID_AttributesGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EquipmentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the aircraft equipment type.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="AirEquipType" type="StringLength3" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">This is the 3 character IATA code.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ChangeofGauge" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates there is an equipment change.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PassengerTypeQuantityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a PTC (Passenger Type Code) and the associated number of PTC's - for use in specifying passenger lists.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TravelerCountType">
				<xs:sequence>
					<xs:element name="TPA_Extensions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Additional elements and attributes to be included if required, per Trading Partner Agreement (TPA).</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="BirthDate" minOccurs="0">
									<xs:complexType>
										<xs:attribute name="Date" type="xs:date"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="Age" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Exchange-specific</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Years" type="xs:short" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="State" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Exchange-specific</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Code" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="TotalNumber" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Exchange-specific</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Value" type="xs:short" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="VoluntaryChanges" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies whether penalties associated with voluntary changes should be included in the search results.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies charges and/or penalties associated with making ticket changes after purchase.</xs:documentation>
										</xs:annotation>
										<xs:sequence minOccurs="0">
											<xs:element name="Penalty" minOccurs="0" maxOccurs="2">
												<xs:annotation>
													<xs:documentation xml:lang="en">Specifies penalty charges as either a currency amount or a percentage of the fare.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="Type" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Indicates the type (Refund or Exchange) of penalty involved in the search or response.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Refund"/>
																<xs:enumeration value="Exchange"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="Exclude" type="xs:boolean" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Indicate that specific penalty type should be excluded from the response.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attributeGroup ref="CurrencyAmountGroup">
														<xs:annotation>
															<xs:documentation xml:lang="en">The penalty charge defined a fee in terms of its amount, currency and decimal laces.</xs:documentation>
														</xs:annotation>
													</xs:attributeGroup>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Match" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Indicates relation between conditions. </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="All">
														<xs:annotation>
															<xs:documentation xml:lang="en">Conditions are joined by logical conjunction - fare needs to fulfill all the conditions to be returned in response. </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="Any">
														<xs:annotation>
															<xs:documentation xml:lang="en">Conditions are joined by logical disjunction - fare needs to fulfill at least one of the conditions to be returned in response.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="Info">
														<xs:annotation>
															<xs:documentation xml:lang="en">Return penalty information</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="Changeable" type="xs:boolean" use="optional" default="true">
					<xs:annotation>
						<xs:documentation xml:lang="en"/>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Index" type="xs:int">
					<xs:annotation>
						<xs:documentation>Allows to identify which one of requested passengers this solution relates to.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StayRestrictionsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type defining Min and Max Stay Restrictions.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="MinimumStay">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies restrictions for the shortest length/period of time or earliest day return travel can commence or be completed.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ReturnTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The time of day when return travel may commence.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MinStay" type="Numeric1to99" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The amount of elapsed time or number of occurrences of a day of the week needed to satisfy a minimum stay requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="StayUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week applied to the MinStay value. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MinStayDate" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific date for the minimum stay requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaximumStay">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies restrictions for the  longest length/period of time or last day to begin or complete the return.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ReturnType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Code indicating whether travel must commence or be completed in order to satisfy the stay restriction.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="C">
									<xs:annotation>
										<xs:documentation xml:lang="en">Return travel must be Completed.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="S">
									<xs:annotation>
										<xs:documentation xml:lang="en">Return travel must be Started.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ReturnTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en"> The time of day when return travel may commence.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MaxStay" type="Numeric1to99" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The amount of elapsed time or number of occurrences of a day of the week that must occur to satisfy a maximum stay requirement.</xs:documentation>
							<xs:appinfo>The amount of elapsed time or number of occurrences of a day of the week needed to satisfy a maximum stay requirement.</xs:appinfo>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="StayUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week applied to the MaxStay value.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MaxStayDate" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific date for the maximum stay requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="StayRestrictionsInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">True indicates that Stay Restrictions exist. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TravelerCountType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the number of travelers of a specific type (e.g. a driver type can be either one of: Adult, YoungDriver, YoungerDriver, or it may be a code that is acceptable to both Trading Partners).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Age" type="Numeric0to999" use="optional"/>
		<xs:attribute name="Code" use="optional">
			<xs:annotation>
				<xs:documentation>Specify traveler type code.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="StringLength1to8 OTA_CodeType"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of travelers.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="VoluntaryChangesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies charges and/or penalties associated with making ticket changes after purchase.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="Penalty" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies penalty charges as either a currency amount or a percentage of the fare.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="PenaltyType" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates the type of penalty involved in the search or response.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DepartureStatus" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifier used to indicate whether the change occurs before or after departure from the origin city.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="CurrencyAmountGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">The penalty charge defined a fee in terms of its amount, currency and decimal laces.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute name="Percent" type="Percentage">
						<xs:annotation>
							<xs:documentation xml:lang="en">The penalty charge conveyed as a percent of the total fare.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="VolChangeInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicator used to specify whether voluntary change and other penalties are involved in the search or response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="AirTripType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the trip type - one way, return, circle trip, open jaw.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OneWay"/>
			<xs:enumeration value="Return"/>
			<xs:enumeration value="Circle"/>
			<xs:enumeration value="OpenJaw"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericString">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for non-empty Alpha-Numeric Strings</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericStringLength1to14">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 14</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarrierCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CharacterType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Characters, length 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountOrPercentage">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*|0%?|100%|[1-9][0-9]?%"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DepartureOrArrival">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Departure"/>
			<xs:enumeration value="Arrival"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlightNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a flight number (1 to 4 numbers followed by optional uppercase A - Z, which specifies an operational suffix) or OPEN or ARNK.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}[A-Z]?"/>
		</xs:restriction>
		<!-- Old version was a union of two simple types, It appears Axis does not generate code for this correctly hence modifying FlightNumberType to be a simple type of string. -->
	</xs:simpleType>
	<xs:simpleType name="HH_MM">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-1]?[0-9]|2[0-3]):[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPercentage">
		<xs:restriction base="xs:string">
			<xs:pattern value="(0|100|[1-9][0-9]?)%"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NbrOrBooleanType">
		<xs:union memberTypes="xs:positiveInteger xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric0to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 999 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric1to99">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 99 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric1to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OutboundOrInbound">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Outbound"/>
			<xs:enumeration value="Inbound"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="100.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageType">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example, used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StayUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the 'Units' that can be applied to Stay restrictions.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Minutes"/>
			<xs:enumeration value="Hours"/>
			<xs:enumeration value="Days"/>
			<xs:enumeration value="Months"/>
			<xs:enumeration value="MON">
				<xs:annotation>
					<xs:documentation xml:lang="en">Monday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TUES">
				<xs:annotation>
					<xs:documentation xml:lang="en">Tuesday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WED">
				<xs:annotation>
					<xs:documentation xml:lang="en">Wednesday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="THU">
				<xs:annotation>
					<xs:documentation xml:lang="en">Thursday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Friday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Saturday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUN">
				<xs:annotation>
					<xs:documentation xml:lang="en">Sunday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SignedCountOrPercentage">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|-?[1-9][0-9]*%?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength0to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to20">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 20</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SumWeight">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for the specification of a date time or just time.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:string xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="Numeric0to4">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 4 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric0to9">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 9 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric0To10Type">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric0to72">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 72 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="72"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaLength1to2">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaLength1to2WithSpace">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z\s]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 3 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaNumericLength2to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaNumericLength3to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:attribute name="CompanyShortName" type="StringLength1to64" use="optional"/>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Refer to OTA Code List Travel Sector (TVS).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A currency code (e.g. USD, EUR, PLN)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A sequence number for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="StringLength1to64 xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="NbrOrBooleanType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group"/>
		<xs:attributeGroup ref="AltLangID_Group"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PrimaryLangID_Group">
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the form of travel represented in a collection. The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="QuantityGroup">
		<xs:attribute name="Quantity" type="Numeric1to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define a quantity of an associated element or attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
