wsdl/pnrservices/Air.1.9.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://services.sabre.com/res/or/v1_9" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	targetNamespace="http://services.sabre.com/res/or/v1_9"
	elementFormDefault="qualified" attributeFormDefault="unqualified" jaxb:version="2.0">

	<xsd:complexType name="AirType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="DepartureAirport" type="CommonString">
				<xsd:annotation>
					<xsd:documentation>Departure point of flight segment.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DepartureAirportCodeContext"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>IATA. Ex."IATA"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DepartureTerminalName"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="DepartureTerminalCode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="ArrivalAirport" type="CommonString">
				<xsd:annotation>
					<xsd:documentation>Departure point of flight segment.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ArrivalAirportCodeContext"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>IATA. Ex."IATA"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ArrivalTerminalName"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="ArrivalTerminalCode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="OperatingAirlineCode"	type="AirlineCode">
				<xsd:annotation>
					<xsd:documentation>The operating airline of the flight if it is a
						codeshare flight.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="OperatingAirlineShortName"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="OperatingFlightNumber"	type="FlightNumber">
				<xsd:annotation>
					<xsd:documentation>The operating carrier flight number of the
						flight.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="EquipmentType" type="CommonString">  <!-- xbas19 ? -->
				<xsd:annotation>
					<xsd:documentation>Code used to describe the aircraft type. Example
						"73H"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="MarketingAirlineCode"
				type="AirlineCodeOrSpecification">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Identifies a company
						by the company code.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="MarketingFlightNumber" type="FlightNumber">
				<xsd:annotation>
					<xsd:documentation>The marketing carrier flight number of the
						flight.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="OperatingClassOfService" type="CommonString">
				<xsd:annotation>
					<xsd:documentation>The marketing booking class of service indicated
						on the face of the PNR. Example
						"Y"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="MarketingClassOfService" type="CommonString">
				<xsd:annotation>
					<xsd:documentation>The operating booking class of service indicated
						on the face of the PNR. Example
						"Y"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CodeShareOperatingRecordLocator" type="CommonString" />
			<xsd:element minOccurs="0" name="MarriageGrp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="Ind" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>An indicator which represents non-contiguous
									group segments.
									Out of sequence married segment will have one other airline in
									between two airline
									group segments.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element minOccurs="0" name="Group" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>A set of air segments that are considered
									“married” together.
									This is referred to as the new married group number. Married Group
									may contain up to
									3 segments.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element minOccurs="0" name="Sequence" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The sequence number within the set/group of
									air segments that
									considered “married” together.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" name="AirlineRefId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>2 char code indicating method other airlines
						segment was added. Example
						"VA*XBZVGY"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Eticket" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>True/False indicator. Example "TRUE"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DepartureDateTime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="en" />
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ArrivalDateTime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="en" />
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="FlightNumber" type="FlightNumber">
				<xsd:annotation>
					<xsd:documentation>The flight number of the flight.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ClassOfService" type="CommonString">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specific Booking
						Class for this segment.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ActionCode" type="CommonString">
				<xsd:annotation>
					<xsd:documentation>Current status of booked segment. Example "HK"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="NumberInParty" type="Numeric0to99999">
				<xsd:annotation>
					<xsd:documentation>Booked seats. Example "2"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="inboundConnection" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indicates if connection from previous flight
						segment. Example "FALSE"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="outboundConnection"
				type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indicates if connection to the following flight
						segment. Example "FALSE"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="AncillaryServices">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="AncillaryService">
							<xsd:complexType>
								<xsd:attribute name="ref" type="xsd:string" />
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" name="BSGIndicator" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Used to indicate group bookings.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="BSGPNRRecordLocator" type="CommonString">
				<xsd:annotation>
					<xsd:documentation>The Master or parent blocked space group PNR
						locator ID. The PNR locator of
						the original blocked space group PNR.. Example "YOUZYG"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="BSGPNRCreatedDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>The Master or parent blocked space group PNR
						create date.
						The PNR create date of the original blocked space group PNR. Example
						"2012-11-23"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="PassiveSegmentIndicator" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Passively booked segments notification.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ScheduleChangeIndicator" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Notification regarding any schedule changes.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SegmentBookedDate" type="xsd:dateTime">  <!-- xbas7 -->
				<xsd:annotation>
					<xsd:documentation>Segment Booked date and time with format:
						YYYY-MM-DDThh:mm:ss</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="UpdatedDepartureDate"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Updated departure information if applicable with
						format YYYY-MM-DD</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="UpdatedDepartureTime"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Updated departure information if applicable with
						format hh:mm</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="UpdatedArrivalTime"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Updated arrival information if applicable with
						format hh:mm</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Pos" type="AirPosType" />  <!-- xbas21 -->

			<xsd:element name="OALocator" type="xsd:string" minOccurs="0"/> <!-- xbas3 -->
			<xsd:element name="DirectConnectDate" type="xsd:dateTime" minOccurs="0"/> <!-- xbas8 -->

            <!--  when set to true it means the air segment is XML/DirectFulfilment type, ie. Germanwings XML -->            
            <xsd:element name="InstantPurchase" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Low cost segment indicator</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BrandID" type="BrandIDType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>2 chars string representing sold brand.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
		<xsd:attribute name="index" type="Numeric0to99999" />
		<xsd:attribute name="sequence" type="xsd:short">
			<xsd:annotation>
				<xsd:documentation>Identifies sequence number of Itinerary
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="segmentAssociationId" type="xsd:short">  <!-- xbas17 -->
			<xsd:annotation>
				<xsd:documentation>Unique segment tab for the segment the
					association is processed.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isPast" type="xsd:boolean" use="optional">
			<xsd:annotation>
				<xsd:documentation>It returns information if current segment is past
					or not.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="AirPosType">
        <xsd:annotation>
            <xsd:documentation>OAC POS details for segments
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="CrsCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAC POS Crs code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="IataNumber" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAC POS IATA number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="AgencyCityCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAC POS Agency city code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CountryCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAC POS Booking country code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="DutyCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAC POS Duty code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="OACAccountingCityCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAC Accounting City code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="OACAccountingCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAC Accounting code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element minOccurs="0" name="HomeCityCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>OAC POS Agent home city code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>


     <xsd:simpleType name="AirlineCodeOrSpecification">
        <xsd:union memberTypes="AirlineCode AirlineSpecification"/>
    </xsd:simpleType>
    <xsd:simpleType name="AirlineSpecification">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

	<xsd:simpleType name="BrandIDType" >
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>